<div class="container-fluid p-4 bg-dark text-white">
    <h3 class="mb-4 text-center">Cost Management Dashboard</h3>
    <hr class="divider">
    <div class="row mb-3">
        <div class="col-md-3">
            <div class="card bg-secondary text-center text-white">
                <div class="card-body">
                    <h5>Month-to-date cost</h5>
                    <div class="progress-circle">
                        <span>15</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-secondary text-center text-white">
                <div class="card-body">
                    <h5>Total forecasted cost</h5>
                    <div class="progress-circle">
                        <span>01</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-secondary text-center text-white">
                <div class="card-body">
                    <h5>Last month's total cost</h5>
                    <div class="progress-circle">
                        <span>04</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-secondary text-center text-white">
                <div class="card-body">
                    <h5>Total View <br> Bill</h5>
                    <div class="progress-circle">
                        <span>04</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid p-4  bg-dark text-white">
        <h1 class="text-center">Cost Breakdown Chart</h1>
        <div class="simple-bar-chart">
            <div class="item" style="--clr: #5EB344; --val: 80">
                <div class="label">Sep 2024</div>
                <div class="value">80%</div>
            </div>
            <div class="item" style="--clr: #FCB72A; --val: 50">
                <div class="label">Des 2024</div>
                <div class="value">50%</div>
            </div>
            <div class="item" style="--clr: #F8821A; --val: 100">
                <div class="label">Jan 2025</div>
                <div class="value">100%</div>
            </div>
            <div class="item" style="--clr: #E0393E; --val: 15">
                <div class="label">Feb 2025</div>
                <div class="value">15%</div>
            </div>
            <div class="item" style="--clr: #963D97; --val: 45">
                <div class="label">Mar 2025</div>
                <div class="value">45%</div>
            </div>
            <div class="item" style="--clr: #069CDB; --val: 90">
                <div class="label">Apri 2025</div>
                <div class="value">90%</div>
            </div>
        
    </div>
</div>